## This is a part of data analysis project from FREECODECAMP Data Analysis Using Python 

### Demographic Data Visualizer

In this project we have to analyze data using pandas tools on the give data set of 1994 census data to solve some of case given to us.

**Use Pandas to answer the following cases:**

*  How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
*   What is the average age of men?
*  What is the percentage of people who have a Bachelor's degree?
*  What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
*  What percentage of people without advanced education make more than 50K?
*  What is the minimum number of hours a person works per week?
*  What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
*  What country has the highest percentage of people that earn >50K and what is that percentage?
*  Identify the most popular occupation for those who earn >50K in India.

In [2]:
#import libraries and load the dataset into our notebook.
import pandas as pd
df = pd.read_csv('adult.data.csv')

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**Case 1**

**How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)**

In [6]:
race_series = df['race'].value_counts()

In [9]:
race_series = pd.Series(race_series)
race_series

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

**Case 2**

**What is the average age of men?**

In [10]:
male_avg = df.loc[(df['age']) & (df['sex']== 'Male'), ['age','sex']].mean().round(1)
male_avg

age    39.3
dtype: float64

**Case 3**

**What is the percentage of people who have a Bachelor's degree?**

In [12]:
per_bachelor = df.loc[df['education'] == 'Bachelors', 'education'].shape[0] / df.shape[0] * 100
per_bachelor = round(per_bachelor, 1) #rounding off value
per_bachelor

16.4

**Case 4**

**What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?**

In [15]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

high_edu_per = higher_education[higher_education['salary'] == '>50K']['salary'].shape[0] / higher_education.shape[0] * 100
low_edu_per = lower_education[lower_education['salary'] == '>50K']['salary'].shape[0] / lower_education.shape[0] * 100

In [17]:
#People who make more and have advance education
print(high_edu_per)

46.535843011613935

**Case 5**

**What percentage of people without advanced education make more than 50K?**

In [18]:
print(low_edu_per)

17.3713601914639

**Case 6**

**What is the minimum number of hours a person works per week?**

In [22]:
min_work_hours = df['hours-per-week'].min()
print(min_work_hours)

1

**Case 7**

**What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?**

In [24]:
val1 =(df['hours-per-week'] == 1) & (df['salary'] == '>50K')
val2 = df['hours-per-week'] == 1
min_work_more_money = round((df[val1].shape[0] / df[val2].shape[0]) * 100, 1) #rounding off value

In [28]:
print(min_work_more_money)

10.0

**Case 8**

**What country has the highest percentage of people that earn >50K and what is that percentage?**

In [35]:
rich_countries = df[df['salary'] == '>50K'].groupby('native-country')['native-country'].count()
rich_country = (rich_countries / df.groupby('native-country')['native-country'].count()).idxmax()
rich_country_per =  (rich_countries / df.groupby('native-country')['native-country'].count()).max() * 100

In [36]:
print(rich_country)
print(rich_country_per)

Iran
41.86046511627907

**Case 9**

**Identify the most popular occupation for those who earn >50K in India.**

In [38]:
indian_occupation = (df['native-country'] == 'India') & (df['salary'] == '>50K')
t1 = df[indian_occupation].groupby('occupation')
popular_occuaption = t1['occupation'].count().idxmax()

In [39]:
print(popular_occuaption)

Prof-specialty